<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div id="container">
    <ion-card>
        <ion-card-header>
          <ion-card-title>Sobre mim:</ion-card-title>
          <ion-card-subtitle>Me chamo Daniel Nicola, tenho 22 anos e, atualmente, estou cursando o 4º período de Análise e Desenvolvimento de Sistemas. Estou no módulo de Desenvolvimento de App Mobile e tenho gostado muito.</ion-card-subtitle>
          <ion-card-subtitle>Estou gostando bastante de aprofundar meu conhecimento na área de Desenvolvimento Mobile e pretendo realizar projetos pessoais com o conhecimento adquirido na faculdade.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button [routerLink]="['/home']" expand="block">Home</ion-button>
        </ion-card-content>
      </ion-card>
  </div>
