<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/icon/foto.png" />
        <ion-card-header>
          <ion-card-subtitle>Nome:</ion-card-subtitle>
          <ion-card-title>Daniel Nicola Lima Castelo Branco</ion-card-title>
          <ion-card-subtitle>Turma:</ion-card-subtitle>
          <ion-card-title>PAS23103</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button [routerLink]="['/sobre']" expand="block">Sobre mim</ion-button>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
